---
import Layout from "../layouts/Layout.astro";
import "../../assets/scss/astro-ecommerce.scss";
import Navbar from "../components/navbar";
---

<Layout title="Welcome to PT Samudra Sukses Nusantara">
  <Navbar />
  <div class="header">
    <div class="container fs-1 fw-bold">
      <div class="title">PT SAMUDRA SUKSES NUSANTARA</div>
    </div>
  </div>
</Layout>

<style>
  body {
    font-family: Arial, sans-serif;
    height: 90vh;
  }
  .header {
    background-image: url("../images/bg.jpg");
    background-position: center;
    height: 90vh;
    padding-block: 80px;
  }
  .title {
    color: white;
    text-align: center;
  }
</style>
